# data — CSVs and ZIPs are too large, download from Kaggle
# README.md inside data/ IS tracked (explains how to get the data)
data/*.csv
data/*.zip

# python env
venv/
__pycache__/
*.pyc

# editor
.vscode/